<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#ffe4b5">
<br>

<h2 align="center"> Add Trip </h2>

<div align = "center" >
<form name="trip" action="/cgi-bin/test.py" method="get">
<table>
<tr><td>
Trip id: </td><td><input type="text" name="tripid"></td></tr>
<tr><td>
Source: </td><td><input type="text" name="src"></td></tr>
<tr><td>
Destination: </td><td><input type="text" name="dest"></td></tr>
<tr><td>
Start date: </td><td><input type="date" name="sdate"></td></tr>
<tr><td>
End date: </td><td><input type="date" name="edate"></td></tr>
<tr><td>
Budget: </td><td><input type="number" name="budget"></td></tr>
</table>
<input type="submit" value="Submit"><br><br>

</form>
</div>

</body>
</html>
